<%inherit file="/base.html" />
<%def name="title()">Management</%def>

			<div class="container">
				<div class="content">
					<div class="page-header">
						<h1>Management Dashboard <small>just awesome!</small></h1>
					</div>
					<div class="row">
						<div class="span10">
						    <div id="form-alert"></div>
	
							<ul class="tabs clearfix" data-tabs="tabs">
								<li class="active">
									<a href="#add">Add Member</a>
								</li>
								<li>
									<a href="#search">Search</a>
								</li>
								<li>
									<a href="#log">Log Activity</a>
								</li>
								<li>
									<a href="#renew">Renew Subscription</a>
								</li>
							</ul>
							<!-- Tab Contents -->
							<div class="pill-content clearfix">
								<div class="active" id="add">
									<form id="newMember" action="/members" method="post">
										<div class="clearfix">
											<label for="username">Username</label>
											<div class="input">
												<div class="input-append">
													<input placeholder="hamada" id="username" name="username" type="text" class="xlarge" />
													<label id="username-indicator" class="add-on hidden"></label>
												</div>
											</div>
										</div> <!-- end of username block -->
										<div class="clearfix">
											<label for="name">Name</label>
											<div class="input">
												<input placeholder="Hamada Emam" id="name" name="name" type="text" class="xlarge" />
											</div>
										</div><!-- end of Name block -->
										<div class="clearfix">
											<label for="email">E-Mail</label>
											<div class="input">
											<div class="input-append">
												<input placeholder="sample@domain.com" name="email" id="email" type="text" class="xlarge" />
												<label id="email-indicator" class="add-on hidden"></label>
												</div>	
											</div>
										</div><!-- end of email block -->
										
										<div class="clearfix">
											<label for="photo">Personal Photo</label>
											<input name="photo" type="hidden" value="" />
											<div id="file-uploader" class="input">
											    <noscript>          
											        <p>Please enable JavaScript to use file uploader.</p>
											        <!-- or put a simple form for upload here -->
											    </noscript>         
											</div>
											<div id="photoPreview"></div>
											</div><!-- end of Photo block -->

										<div class="clearfix">
											<label for="national-id" class="required">National ID</label>
											<div class="input">
												<div class="input-append">
													<input id="national-id" type="text" name="national-id" class="xlarge" />
													<label id="national-id-indicator" class="add-on hidden"></label>
												</div>
											</div>
										</div><!-- end of National ID block -->

										<div class="clearfix">
											<label for="faculty">Faculty</label>
											<div class="input">
												<select id="faculty" name="faculty" class="normalSelect xlarge">
												</select>
											</div>
										</div><!-- end of Faculty block -->

										
										<div class="clearfix">
											<label for="twitter">Twitter</label>
											<div class="input">
												<div class="input-prepend">
													<span class="add-on">@</span>
													<input placeholder="nozom_ngo" name="twitter" id="twitter" type="text" class="medium" />
													<label id="twitter-indicator" class="add-on hidden"></label>
												</div>
											</div>
										</div><!-- end of twitter block -->
										
 										<div class="clearfix">
											<label for="type">Membership Type</label>
											<div class="input">
												<select id="type" name="membership-type" class="normalSelect xlarge">
													<option value="Normal">عامل</option>
													<option value="Enrollment">انتساب</option>
													<option value="Honorary">فخري</option>
												</select>
											</div>
										</div><!-- end of Faculty block -->
										<div class="actions">
											<input class="btn large primary" type="submit" value="Add Member" />
											<button class="btn large" type="reset">
												Cancel
											</button>
										</div> <!-- end of actions block -->
									</form>

								</div>
								<div id="search">
									...
								</div>
								<div id="log">
									...
								</div>
								<div id="renew">
									...
								</div>
							</div>
							<!-- End Tab Contents -->
						</div>
						<div class="span4">
							<h3>Notes</h3>
							Fazee3
						</div>
					</div>
				</div>
